{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Account Information</h2>
                </div>
                <div class="card-body">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Groups:</strong> {% for group in user.groups.all %}{{ group.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <p><strong>Forename:</strong> {{ user.profile.forename }}</p>
                    <p><strong>Surname:</strong> {{ user.profile.surname }}</p>
                    <p><strong>Email:</strong> {{ user.profile.email_address }}</p>
                    <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
                    <p><strong>Phone Number:</strong> {{ user.profile.phone_number }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Login Information</h2>
                </div>
                <div class="card-body">
                    <p><strong>Last Login:</strong> {{ user.last_login }}</p>
                    <p><strong>Member Since:</strong> {{ user.date_joined }}</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h2>Profile Picture</h2>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail mb-3 profile-picture-profile">
                {% else %}
                <form method="post" action="{% url 'accounts:upload_profile_picture' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="profile_picture">
                    <button type="submit" class="btn btn-primary mt-2">Upload</button>
                </form>
                {% endif %}
                <a href="{% url 'accounts:change_profile_picture' %}" class="btn btn-primary mt-2">Change Profile Picture</a>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}