{% extends "base.html" %}
{% block content %}
<div class="card">
    <table class="table card-table table-vcenter">
        <thead>
            <tr>
                <th>Country Setting</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for setting in country_setting %}
            <tr>
                <td>{{ setting.country.name }}</td>
                <td class="text-right">
                    <a href="{% url 'organization:country_setting_detail' setting.id %}" class="btn btn-primary">Details</a>
                    <a href="{% url 'organization:country_setting_update' setting.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'organization:country_setting_delete' setting.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}