{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Create User" %}{% endblock %}

{% block content %}
<div class="container-xl">
    <h1>{% trans "Create User" %}</h1>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">{% trans "Username" %}</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">{% trans "Email" %}</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">{% trans "Password" %}</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">{% trans "Confirm Password" %}</label>
                    {{ form.password2 }}
                </div>
                {% if request.user.is_superuser %}
                    <div class="mb-3">
                        <label for="country" class="form-label">{% trans "Country" %}</label>
                        {{ form.country }}
                    </div>
                {% elif request.user.countryadmin %}
                    <div class="mb-3">
                        <label for="country" class="form-label">{% trans "Country" %}</label>
                        <select name="country" id="id_country" disabled>
                            <option value="{{ request.user.countryadmin.country.id }}">{{ request.user.countryadmin.country.name }}</option>
                        </select>
                        {{ form.country.as_hidden }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Create User" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
