{% extends 'base.html' %}

{% block content %}
  <h1>{{ group.name }}</h1>

  <p>{{ group.description }}</p>
  <p>Country: {{ group.country.name }}</p>

  <h2>Permissions</h2>
  <ul>
    {% for permission in group.permissions.all %}
      <li>{{ permission.name }}</li>
    {% empty %}
      <li>No permissions assigned.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'organization:group_update' group.id %}">Edit</a>
  <a href="{% url 'organization:group_delete' group.id %}">Delete</a>
{% endblock %}
