{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<ol class="breadcrumb" aria-label="breadcrumbs">
  <li class="breadcrumb-item">
      <a href="{% url 'organization:dashboard' %}">{% trans "Country Dashboard" %}</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="{% url 'organization:team_list' %}">{% trans "Teams" %}</a>
  </li>
</ol>
  <div class="page-header">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h1>{% trans "Teams" %}</h1>
        </div>
        <div class="col-auto">
          <a href="{% url 'organization:team_create' %}" class="btn btn-primary">
            {% trans "Create Team" %}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xl">
    <div class="row row-cards">
      {% for team in teams %}
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <a href="{% url 'organization:team_detail' team.id %}" class="text-reset text-decoration-none">
                <h3 class="card-title">{{ team.name }}</h3>
                <p class="card-text">{{ team.description }}</p>
              </a>
              <div class="d-flex justify-content-end">
                <a href="{% url 'organization:team_update' team.id %}" class="btn btn-primary ms-2">
                  {% trans "Update" %}
                </a>
                <a href="{% url 'organization:team_delete' team.id %}" class="btn btn-danger ms-2">
                  {% trans "Delete" %}
                </a>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <p>{% trans "No teams found." %}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
