{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Update User" %}{% endblock %}

{% block content %}
<div class="container-xl">
    <h1>{% trans "Update User" %}</h1>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">{% trans "Username" %}</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">{% trans "Email" %}</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">{% trans "First Name" %}</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">{% trans "Last Name" %}</label>
                    {{ form.last_name }}
                </div>
                <button type="submit" class="btn btn-primary">{% trans "Update User" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

