{% load i18n %}
{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <form method="GET" action="{% url 'employees:position_list' %}" class="my-3 my-lg-0">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="{% trans 'Search position' %}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
            </div>
        </div>
    </form>
    <a href="{% url 'employees:create_position' %}" class="btn btn-success">
        {% trans "Add Position" %}
    </a>
</div>
<br />
<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap">
        <thead>
            <tr>
                <th>{% trans "Position Title" %}</th>
                <th>{% trans "Position Description" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for position in page_obj %}
            <tr>
                <td>{{ position.title }}</td>
                <td>{{ position.description }}</td>
                <td>
                    <a href="{% url 'employees:position_detail' position.pk %}" class="btn btn-secondary btn-sm">{% trans "View" %}</a>
                    <a href="{% url 'employees:edit_position' position.pk %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer d-flex">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?team_page={{ page_obj.previous_page_number }}#position">{% trans "Previous" %}</a>
            </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?team_page={{ i }}#position">{{ i }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?team_page={{ page_obj.next_page_number }}#position">{% trans "Next" %}</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}