{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>{% if businesspartner %}{% trans "Edit Businesspartner" %}{% else %}{% trans "Create Businesspartner" %}{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
