{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1>{% trans "Customers" %}</h1>
                <a href="{% url 'crm:customer_create' %}" class="btn btn-success">
                    <i class="bi bi-plus-circle-dotted"></i> {% trans "Create Customer" %}
                </a>
            </div>
            {% if show_all %}
                <a href="?show_all=false" class="btn btn-info">Show only my Customers</a>
             {% else %}
                <a href="?show_all=true" class="btn btn-warning">Show All Customers</a>
             {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Email" %}</th>
                        <th>{% trans "Phone" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in page_obj %}
                    <tr>
                        <td><a href="{% url 'crm:customer_detail' customer.id %}">{{ customer.name }}</a></td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>
                            <a href="{% url 'crm:customer_update' customer.id %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
                            <a href="{% url 'crm:customer_delete' customer.id %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                        </td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No customers found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
           <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1&show_all={{ show_all }}">First</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&show_all={{ show_all }}">Previous</a></li>
                        {% endif %}

                        <li class="page-item disabled">
                            <span class="page-link">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&show_all={{ show_all }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&show_all={{ show_all }}">Last</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
{% endblock %}